@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --font-family: "Inter", "Battambang", serif;
    --color-white: rgb(255, 255, 255);
    --color-light: rgb(239, 255, 255);
    --color-lightgray: rgb(235, 235, 235);
    --color-gray: rgb(153, 153, 153);
    --color-brightgray: rgb(232, 233, 235);
    --color-blue: rgb(22, 73,203);
    --color-lightblue: rgb(87, 143, 218);
    --color-darkblue: rgb(1, 21, 100);
    --color-black: rgb(0, 0, 0);
    --color-red: rgb(255, 0, 0);
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-lightgray);
}

body {
    margin: 0 auto;
    width: 1200px;
    overflow-x: hidden;
    font-family: var(--font-family);
    line-height: 1.5;
}

.header {
    background: url("../assets/images/bg.jpg") no-repeat center;
    background-size: cover;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 2rem;
}
.header .logo {
    height: 100px;
}
.header .logo img{
    height: 100%;
}

.header .language-container {
    position: absolute;
    top: 0;
    right: 2rem;
}

.header .languages-wrapper {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-light);
    padding: 0 12px;
    border: 1px solid var(--color-gray);
    border-radius: 0 0 12px 12px;
}

.header .languages-wrapper .change-language {
    cursor: pointer;
    height: 64px;
}

.header .languages-wrapper .change-language img {
    height: 100%;
}

.main {
    width: 100%;
    background-color: var(--color-white);
    border-radius: 0 1rem;
}

.main .main-content {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main .main-content .desktopBanner {
    width: 100%;
}
.main .main-content .desktopBanner img{
    width: 100%;
    object-fit: contain;
}

.main .main-content .contents-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 8px;
    gap: 1rem;
}

.main .main-content .contents-wrapper .form {
    width: 100%;
}

.main .main-content .contents-wrapper .form .form-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-darkblue);
    margin-bottom: 1rem;
}

.main .main-content .contents-wrapper .form .form-content {
    display: grid;
    grid-template-columns: auto 70px;
    align-items: center;
    gap: 1rem;
} 

.main .main-content .contents-wrapper .form .form-content .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control {
    display: grid;
    grid-template-columns: 90px auto;
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control label {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-darkblue);
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control label::after {
    content: ':';
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control .right-wrapper input,
.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control .right-wrapper select{
    width: 100%;
    padding: 0.3rem;
    border: 1.5px solid var(--color-gray);
    background-color: var(--color-lightgray);
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-darkblue);
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control .right-wrapper input:focus {
    border: 1.5px solid var(--color-blue);
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control .right-wrapper .errorMsg {
    color: var(--color-red);
    margin-top: 5px;
    font-size: 16px;
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control .code-control {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control .code-control .code {
    width: 60%;
}
.main .main-content .contents-wrapper .form .form-content .input-wrapper  .input-control .code-control .code-random {
    width: 40%;
}

.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control input::-webkit-outer-spin-button,
.main .main-content .contents-wrapper .form .form-content .input-wrapper .input-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.main .main-content .contents-wrapper .form .form-content .btn {
    border: none;
    outline: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.main .main-content .contents-wrapper .form .form-content .btn span {
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
}

.main .main-content .contents-wrapper .form .form-content .btn .icon {
    height: 28px;
}

.main .main-content .contents-wrapper .form .form-content .btn .icon img{
    height: 100%;
}

.main .main-content .contents-wrapper .ads-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
    margin-top: 1rem;
}

.main .main-content .contents-wrapper .ads-wrapper .ads {
    width: 100%;
    height: 150px;
}

.main .main-content .contents-wrapper .ads-wrapper .ads img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.main .main-content .contents-wrapper .checkbox-wrapper {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-darkblue);
}

.main .footer .hotline {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-darkblue);
}

.main .footer .btn-go-register,
.main .footer .btn-go-login {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 16px;
    font-weight: 600;
}

.footer .desktop-footer {
    margin: 1rem auto;
}

.footer .desktop-footer .footer-list td {
    border-right: 1px solid var(--color-darkblue);
    padding: 0 1rem;
    cursor: pointer;
    color: var(--coror-lightblue);
}
.footer .desktop-footer .footer-list td:last-child {
    border: none;
}

.main .footer .desktop-footer .footer-list a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-darkblue);
}