@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --font-family: "Inter", "Battambang", serif;
    --color-white: rgb(255, 255, 255);
    --color-light: rgb(239, 255, 255);
    --color-lightgray: rgb(235, 235, 235);
    --color-gray: rgb(153, 153, 153);
    --color-brightgray: rgb(232, 233, 235);
    --color-blue: rgb(22, 73,203);
    --color-lightblue: rgb(87, 143, 218);
    --color-darkblue: rgb(1, 21, 100);
    --color-black: rgb(0, 0, 0);
    --color-red: rgb(255, 0, 0);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background: var(--color-brightgray);
}

body {
    margin: 0 auto;
    width: 575px;
    overflow-x: hidden;
    font-family: var(--font-family);
    line-height: 1.5;
    height: 100vh;
    background-color: var(--color-white);
}

.header {
    background: url("../assets/images/bg.jpg") no-repeat center;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    height: 80px;
}
.header .logo img{
    height: 100%;
}

.main {
    width: 100%;
    padding: 1.5rem;
}

.main .language-container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 95px;
}

.main .languages-wrapper {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-brightgray);
    padding: 0 12px;
    border: 1px solid var(--color-gray);
    border-radius: 0 0 12px 12px;
}

.main .languages-wrapper .change-language {
    cursor: pointer;
    height: 64px;
}

.main .languages-wrapper .change-language img {
    height: 100%;
}

.main .view-wrapper {
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.main .view-wrapper .view {
    height: 250px;
    width: 250px;
    background-color: var(--color-blue);
    border-radius: 50%;
}
.main .view-wrapper .view img{
    width: 100%;
    object-fit: contain;
}

.main .download-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

.main .download-wrapper .download {
    height: 100px;
    flex: 1 1 50%;
}

.main .download-wrapper .download img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .icon-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 5rem;
}

.main .icon-wrapper .icon {
    height: 70px;
}

.main .icon-wrapper .icon img {
    height: 100%;
    object-fit: contain;
}

.footer {
    text-align: center;
    margin-top: 1rem;
}

.footer .hotline,
.footer .privacy {
    font-size: 18px;
    font-weight: 600;
}

.footer .language-container {
    margin: 1rem auto;
}

.footer .language-container .languages-wrapper .change-language {
    border-right: 1px solid var(--color-lightblue);
    padding: 0 1rem;
    cursor: pointer;
    color: var(--color-lightblue);
}
.footer .language-container .languages-wrapper .change-language:last-child {
    border: none;
}

@media screen and (max-witdh: 575px) {
    body {
        width: 100%;
    }
}